{% from '_macros/lib.twig' import img %}

{% set image = block.image.one %}
{% set wide = block.style.contains('wide')%}
{% set fullHeight = block.style.contains('fullHeight')%}

{% if image %}
    <figure class="{{ wide ? 'lg:-mx-24' }}">

        {# Ratio 21:9 #}
        {{ img(image, {
            transform: wide ? {width: 1024, height: fullHeight ? null : 440} : {width: 825, height: fullHeight ? null : 350},
            scrset: wide ?  [1024, 825, 400] : null
        }) }}


        {% if block.caption or image.copyright %}
            <figcaption class="flex justify-between">
                <div>
                    {{ block.caption }}
                </div>
                {% if image.copyright %}
                    <div class="text-sm text-brand-500">({{ 'Photo'|t }}: {{ image.copyright }})</div>
                {% endif %}
            </figcaption>
        {% endif %}
    </figure>
{% endif %}