{% from '_macros/lib.twig' import img %}

{% set image = block.image.one %}
{% set wide = block.style.contains('wide')%}

{% if image %}
    <figure class="{{ wide ? '-mx-24' }}">

        {{ img(image, {
            transform: wide ? {width: 1000, height: 500} : {width: 825, height: 450},
            scrset: wide ?  [1000, 768, 400] : null
        }) }}


        {% if block.caption or image.copyright %}
            <figcaption class="flex justify-between">
                <div>
                    {{ block.caption }}
                </div>
                {% if image.copyright %}
                    <div class="text-sm text-gray-500">({{ 'Photo'|t }}: {{ image.copyright }})</div>
                {% endif %}
            </figcaption>
        {% endif %}
    </figure>
{% endif %}