<div class="my-8 not-prose">
    {% switch block.style.value %}

    {% case "bordersTopBottom" %}

        <blockquote class="lg:-mx-24 border-t border-b border-gray-300 py-6 text-prose text-center">
            <div class="text-2xl uppercase">
                {{ '“'|t }}{{ block.text|nl2br }}{{ '”'|t }}
            </div>
            {% if block.cite %}
                <cite class="block mt-8 text-lg italic">
                    {{ block.cite }}
                </cite>
            {% endif %}
        </blockquote>

    {% default %}

        <blockquote class="border-l-4 border-gray-400 px-8 py-2">
            <div class="font-semibold font-serif text-lg  text-gray-600">
                {{ '“'|t }}{{ block.text|nl2br }}{{ '”'|t }}
            </div>
            {% if block.cite %}
                <cite class="block mt-4 text-lg text-prose italic">
                    {{ block.cite }}
                </cite>
            {% endif %}
        </blockquote>

    {% endswitch %}
</div>

