{% apply spaceless %}

    {#
    Set variables for layout, so that
        * we enable pages that are not backed by an entry
        * let templates overwrite default entry values
    #}

    {# let templates overwrite title #}
    {% set title = title ?? entry.title ?? 'Untitled'|t %}

    {# let templates overwrite featured image, use global images by default #}
    {% set featuredImage = featuredImage ?? entry.featuredImage.one ?? siteInfo.featuredImage.one %}

{% endapply -%}
<!DOCTYPE html>
<html lang="{{ craft.app.language }}" dir="{{ craft.app.locale.orientation }}" style="overflow-y: scroll;">
<head>
    {% include '_layouts/partials/head.twig' %}
</head>

{% block body %}
    <body class="bg-gray-50 text-prose max-w-screen-md mx-auto px-4">

    {# let screen reader users skip page heading #}
    {% block header %}
        <a href="#content" class="sr-only focus:not-sr-only">{{ 'Jump to content'|t }}</a>

        <header class="mb-8">

            {% include '_layouts/partials/nav.twig' %}

            {% block featured %}
                {% if featuredImage %}
                    {% include '_layouts/partials/featured-image.twig' with {
                        image: featuredImage
                    } only %}
                {% endif %}
            {% endblock %}

        </header>
    {% endblock %}

    {% block main %}
        <main id="content" class="mt-8">
            {% block title %}
                <h1 class="mb-6 font-bold text-4xl">{{ title }}</h1>
            {% endblock %}

            {% block content %}
                {% if entry is defined and entry.bodyContent %}
                    {% include '_partials/blocks.twig' with {
                        query: entry.bodyContent
                    } only %}
                {% endif %}
            {% endblock %}
        </main>
    {% endblock %}

    {% block footer %}
        <footer class="mt-8 border-t border-gray-400 py-4 flex justify-between">
            <div>
                &copy; {{ now|date('Y') }} {{ siteInfo.copyright }}
            </div>
            {% if entry is defined %}
                <div>
                    <a class="text-sm text-gray-600" href="{{ entry.cpEditUrl }}">{{ 'Edit'|t }}</a>
                </div>
            {% endif %}
        </footer>
    {% endblock %}

    </body>
{% endblock %}
</html>

