{% apply spaceless %}

    {#
    Set variables for layout, so that
        * we enable pages that are not backed by an entry
        * let templates overwrite default entry values
    #}

    {# let templates overwrite title #}
    {% set title = _globals.get('title') ?? entry.title ?? 'Untitled'|t %}

    {# let templates overwrite featured image, use global images by default #}
    {% set featuredImage = _globals.get('featuredImage') ?? entry.featuredImage.one ?? siteInfo.featuredImage.one %}

    {% set mainWidth = _globals.get('mainWidth') ?? 'md' %}
    {% set widthClasses = {
        md: 'max-w-screen-md mx-auto',
        xl: 'max-w-screen-xl mx-auto'
    } %}

{% endapply -%}
<!DOCTYPE html>
<html lang="{{ craft.app.language }}" dir="{{ craft.app.locale.orientation }}" style="overflow-y: scroll;">
<head>
    {% include '_layouts/partials/head.twig' %}
</head>

{% block body %}
    <body class="bg-brand-50 text-prose px-4">

    {# let screen reader users skip page heading #}
    {% block header %}
        <a href="#content" class="sr-only focus:not-sr-only">{{ 'Jump to content'|t }}</a>

        <header class="mb-8 max-w-screen-xl mx-auto">

            {% include '_layouts/partials/nav.twig' %}

            {% block featured %}
                {% if featuredImage %}
                    {% include '_layouts/partials/featured-image.twig' with {
                        image: featuredImage
                    } only %}
                {% endif %}
            {% endblock %}

        </header>
    {% endblock %}

    {% block main %}
        <main id="content" class="{{ widthClasses[mainWidth] }} mt-8">
            {% block title %}
                <div class="mb-8">
                    <h1 class="text-4xl sm:text-5xl md:text-6xl sm:leading-tight md:leading-tight">{{ title }}</h1>
                    {% if entry.subheading %}
                        <div class="mt-8 text-2xl">
                            {{ entry.subheading }}
                        </div>
                    {% endif %}
                </div>
            {% endblock %}

            {% block content %}
                {% if entry is defined %}
                    {% if entry.bodyContent %}
                        {% include '_partials/blocks.twig' with {
                            query: entry.bodyContent
                        } only %}
                    {% endif %}
                {% endif %}
                
            {% endblock %}

        </main>
    {% endblock %}

    {% block footer %}

        {% if _globals.get('entryNavCondition') %}
            <div class="max-w-screen-xl mx-auto">
                {% include '_layouts/partials/entry-nav.twig' with {
                    entry,
                    condition: _globals.get('entryNavCondition')
                } only %}
            </div>
        {% endif %}

        <footer class="max-w-screen-xl mx-auto mt-12 border-t border-gray-400 py-4 flex justify-between">
            <div>
                &copy; {{ now|date('Y') }} {{ siteInfo.copyright }}
            </div>
            {% if entry is defined %}
                <div>
                    <a class="text-sm text-gray-600" href="{{ entry.cpEditUrl }}">{{ 'Edit'|t }}</a>
                </div>
            {% endif %}
        </footer>
    {% endblock %}

    </body>
{% endblock %}
</html>

